<h1>PassGen</h1>

<div class="container">
  <div>
    <label>Enter Password Length</label>
    <input type="number" (input)="onChangeLength($event)" />
  </div>

  <div>
    <input type="checkbox" (change)="onChangeUseLetters()" />
    <label>Use Letters</label>
  </div>

  <div>
    <input type="checkbox" (change)="onChangeUseNumbers()" />
    <label>Use Numbers</label>
  </div>
  <div>
    <input type="checkbox" (change)="onChangeUseSymbols()" />
    <label>Use Symbols</label>
  </div>

  <div>
    <button
      [disabled]="
        !(length && (includeLetters || includeSymbols || includeNumbers))
      "
      (click)="onButtonClick()"
    >
      Generate Password
    </button>
  </div>

  <div>
    <label>Your new Password: </label>
    <input [value]="password" class=""/>
  </div>
</div>
